.footer-container {
  display: flex;
  flex-direction: column; /* 주로 세로 정렬 */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}
.footer-nav {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin: 0 10px; /* 항목 간 간격 */
  cursor: pointer;
}

.footer-address {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; /* 내용이 넘칠 경우 다음 줄로 넘김 */
}

.footer-address span {
  margin-right: 30px; /* 오른쪽 간격 설정 */
  margin-bottom: 10px; /* 줄 바꿈이 발생할 때 아래쪽 간격 설정 */
  opacity: 0.9;
  cursor: pointer;
}
.footer-logo {
  height: 50px;
}
